/processing/
/scratch.py
/input/books/
.DS_Store
/.vscode/
.env
test.py
/output/
/src/get_book.py
/firefox_user_profile/
~/code/chromedriver_user_profile/
snippets_debug.txt
index_pilot.html
index_test.html
TODO.txt